* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ffb6a9;
}

hr {
    height: 4px;
    background-color: black;
    /* margin-bottom: 1rem; */
}

.cardContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    /* border: 2px solid red; */
    height: 60%;
    width: 55%;
    padding: 2rem;
    background-color: #ffcdc2;
    border-radius: 15px;
    box-shadow: 0px 6px 5px 4px #e82c27;

}

.cardQuote {
    /* border: 2px solid green; */
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cardQuote i {
    color: red;
}

.cardQuote h1 {
    font-size: 40px;
    margin: 1rem 0;
}

.cardQuote h4 {
    font-size: 30px;
    /* margin: 1rem 0; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttonContainer {

    height: 20%;
    width: 100%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonContainer button {
    height: 70%;
    width: 15%;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    background-color: olive;
    color: white;
}

.buttonContainer img {
    height: 60%;
    width: 10%;
    border-radius: 5px;

}

@media only screen and (min-width:768px) and (max-width:1025px) {
    .card {
        width: 65%;
    }

    .buttonContainer button {

        width: 21%;
    }
}

@media only screen and (min-width:768px) and (max-width:950px) {
    .buttonContainer button {
        width: 25%;
    }

    .cardQuote h1 {
        font-size: 30px;
    }

    .cardQuote h4 {
        font-size: 20px;
    }
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .card {
        width: 95%;
    }

    .buttonContainer button {
        width: 35%;
        font-size: 14px;
    }

    .buttonContainer img {
        width: 25%;
    }

    .cardQuote h1 {
        font-size: 20px;
    }

    .cardQuote h4 {
        font-size: 10px;
    }
}